<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".MasterApplication"
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MellonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyTubeDetailActivity">
        </activity>
        <activity android:name=".MyTubeActivity">

        </activity>
        <activity android:name=".OutStagramUploadActivity">
        </activity>
        <activity android:name=".OutStagramMyPostActivity">
        </activity>
        <activity android:name=".OutStagramUserInfo">
        </activity>
        <activity android:name=".OutStagramPostListActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".EmailSignupActivity">
        </activity>
        <activity android:name=".PermissionActivity">
        </activity>
        <activity android:name=".RetrofitActivity">
        </activity>
        <activity android:name=".NetworkActivity">
        </activity>
        <activity android:name=".AsyncActivity">
        </activity>
        <activity android:name=".RealmActivity">
        </activity>
        <activity android:name=".SharedPreferenceActivity">
        </activity>
        <activity android:name=".TabPager2Activity">
        </activity>
        <activity android:name=".TabPagerActivity">
        </activity>
        <activity android:name=".PhoneBookWithRecyclerViewActivity">
        </activity>
        <activity android:name=".RecyclerViewActivity">
        </activity>
        <activity android:name=".ListViewActivity">
        </activity>
        <activity android:name=".PhoneBookDetailActivity">
        </activity>
        <activity android:name=".PhoneBookPractice">
        </activity>
        <activity android:name=".AddViewActivity">
        </activity>
        <activity android:name=".LibraryActivity">
        </activity>
        <activity android:name=".ThreadActivity">
        </activity>
        <activity android:name=".ContextActivity">
        </activity>
        <activity android:name=".Resource">
        </activity>
        <activity android:name=".NullSafety">
        </activity>
        <activity android:name=".FragmentActivity">
        </activity>
        <activity android:name=".IntentPractice">
        </activity>
        <activity android:name=".Intent2">
        </activity>
        <activity android:name=".Intent1">
        </activity>
        <activity android:name=".ListenerPractice">
        </activity>
        <activity android:name=".Listener">
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>